@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Mochiy+Pop+One);
@import url(http://fonts.googleapis.com/css?family=Kosugi+Maru);

body{
    position:relative;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 128);
    color:green;
    text-align:  center;
}

#top-menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 背景色: カラーコードで検索 */
    background-color: rgb(255, 255, 128);

    /* 下線 */
     /*border-bottom: 1px solid #aaa; */

    /* 内部に取る余白 */
    padding: 10px; 
}

#content-body{
    display: block;
    position: initial;

    /* 表示開始位置調整用 */
    padding-top: 50px;
}
 /* showitem・itemdetailの商品一覧表を出す */
.itemview-1{
    border-collapse: collapse;
    border-spacing: 5px;
    width: 60%;
    margin: auto;
}

.itemview-1 tr{
    /* 背景色: カラーコードで検索 */
    border: 5px solid #008000;
    background-color: #80ffff;
    color:black;

}

.itemview-1 td:first-child{
    width: 150px;
}

.itemview-1 td:first-child > img{
    width: 150px;
    border: 1px solid #ccc;
    background-color: #fff;
   
    
}


.itemview-1 td:not(:first-child){
    text-align: left;
    vertical-align: top;
    position: relative;
}

.itemview-1 td:not(:first-child) > * {
    margin: 0;
    padding: 5px;
}
/*showitemの出品情報変更閲覧・商品詳細、itemdetailのカートに追加のボタン*/
.buttons{
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
}

.buttons button{
    background-color: #80ff80;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.buttons button{
    background-color: #ff8000;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.buttons button:hover{
    opacity: 0.7;
    cursor: pointer;
}



.title{
	font-size:30px;
	padding: 1rem 3rem;
	font-family: 'Mochiy Pop One';
    text-align:  center; 
    border-radius: 100vh;
    background-image: -webkit-gradient(linear, right top, left top, from(#9be15d), to(#00e3ae));
    background-image: -webkit-linear-gradient(right, #9be15d 0%, #00e3ae 100%);
    background-image: linear-gradient(to left, #9be15d 0%, #00e3ae 100%);
}
/*itemdetailの商品詳細のタイトル*/
.title1{
	text-align:  center; 
	color:green;
	font-size:35px;
	text-shadow: 1px 2px 40px #80ff80
}
/*URL類*/
.top{
	 
	 text-align:  center; 
	 color: blue;
	 font-size:35px
	 
}
.login{
	text-align:  center; 
	color:green;
	font-size:35px;
	
}

	
/*商品一覧のタイトル*/
.showitem1{
	text-align:  center; 
	color:green;
	font-size:45px;
	text-shadow: 1px 2px 40px #80ff80
}
.showitem2{
	text-align:  center; 
	color:#800000;
	font-size:40px;
	font-family:'Mochiy Pop One';
}
/*showitemの商品名*/
.showitem3{
	color:black;
	font-size:30px;
	font-family: 'Kosugi Maru';
}
/*showitemの値段*/
.showitem4{
	color:black;
	font-size:25px;
	
}
/*cartのタイトルとiteminfoのタイトルとaccountinfoのタイトル*/
.carttitle{
	font-size:30px;
	text-align:  center;
	color:green;
	text-shadow: 1px 2px 40px #80ff80
}
/*cartの表とiteminfoの表*/
.cart{
	 border-collapse: collapse;
    border-spacing: 2px;
    width: 60%;
    
    margin: auto;
}
.cart tr{
	
    /* 背景色: カラーコードで検索 */
    border: 5px solid #ff8000;
    background-color: #80ffff;
    color:black;
	
}
 /* cartの削除ボタン */
.cartbutton{
	 color:black;
	 background-color: #ff0000;
}
.btn-square {
  display: inline-block;
  padding: 2em 5em;
  text-decoration: none;
  background: #800000;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #804000;
  border-radius: 5px;
  font-size:15px;
 
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-square1 {
  display: inline-block;
  padding:0.5em 1em;
  text-decoration: none;
  background: #800000;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #804000;
  border-radius: 5px;
  font-size:15px;
 
}
.btn-square1:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
/*showitemのようこその文字が流れる*/
.flowing {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: #ff6347;
  white-space: nowrap;
  overflow: hidden;
  animation: flowing-anim 8s;
}
/*トップ画面のアニメーション*/
@keyframes flowing-anim {
 0%{
     width: 0%;
   }
100%{
     width: 100%;
   }
}


.a {
  color: #ffff80;
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  padding: 0;
 /* border: 3px solid #ffff80;
  border-radius: 6px;*/
  position: relative;
  /*z-index: 1;*/
  transition: .3s;
  overflow-x: hidden;
}
.a::before {
  padding: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #ffff80;
  transform-origin: 100% 0%;
  transform: scaleY(1);
  transition: transform ease .3s;
}
.a:hover {
  color: #fff;
}
.a:hover::before {
  transform-origin: 100% 100%;
  transform: scaleY(0);
}
/*ログインのボタン*/
.loginbutton {
  display: inline-block;
  text-decoration: none;
  background: #8cd460;
  color: rgba(255, 255, 255, 0.47);
  font-weight: bold;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #8cd460;
  border: solid 2px rgba(255, 255, 255, 0.47);
  transition: .4s;
  font-size:25px
}
/*ログインと新規登録のボタンに触れたとき*/
.loginbutton :hover{
    opacity: 0.7;
    cursor: pointer;
}
/*purchaseの文字を表示するときのアニメーション*/
@keyframes typing { from { width: 0; } }
@keyframes caret { 50% { border-color: transparent; } }
/*purchaseの文字を表示するときのアニメーション*/
.purchase {

font-family: 'Mochiy Pop One'; 
background-image: -webkit-gradient(linear, right top, left top, from(#9be15d), to(#00e3ae));
background-image: -webkit-linear-gradient(right, #9be15d 0%, #00e3ae 100%);
background-image: linear-gradient(to left, #9be15d 0%, #00e3ae 100%);
width: 23ch;
border-right: .08em solid;
overflow: hidden;
font-size: 4em;
white-space: nowrap;
animation: typing 3s steps(20, end), caret .3s step-end infinite;
}
/*cartの購入ボタンとadditemの出品ボタンの登録おされたとき*/
.additembtn {
  display: inline-block;
  text-decoration: none;
  background: #ffba78;
  color: #ff0000;
  width: 130px;
  height: 100px;
  font-size: 21px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #d29963;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.43), 1px 1px rgba(0, 0, 0, 0.49);
  transition: .4s;
}
.additembtn:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  border-bottom: none;
}
/*accountinfoの変更と削除ボタン*/
.accountbtn {
  display: inline-block;
  text-decoration: none;
  background: #ffba78;
  color: #ff0000;
  width: 100px;
  height: 50px;
  font-size: 15px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #d29963;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.43), 1px 1px rgba(0, 0, 0, 0.49);
  transition: .4s;
}
.accountbtn:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  border-bottom: none;
}
/*入力フォームを赤にする*/
.input {
background-color: #ff8080;
}

