<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>アカウント情報</title>
<link rel="stylesheet" href="/common.css">
</head>
<body>
	<div class="carttitle">
	<h1 >アカウント情報</h1>
	</div>
	<form action="/accountInfo" method="post"></form>
	<table class="cart" border="1">
		<tr>
			<td>お名前</td>
			<td th:text="${session.accountInfo.name}"></td>
		</tr>
		<tr>
			<td>住所</td>
			<td th:text="${session.accountInfo.address}"></td>
		</tr>
		<tr>
			<td>電話番号</td>
			<td th:text="${session.accountInfo.tel}"></td>
		</tr>
		<tr>
			<td>e-mail</td>
			<td th:text="${session.accountInfo.email}"></td>
		</tr>


	</table>
	<form action="/showItem">
		<a href="/showItem" class="top">商品一覧戻る</a>
	</form>
	<hr>
	<div class="carttitle">
	<h1>お客様情報変更</h1>
	</div>
	<form action="/accountInfo" method="post">
		<table class="cart" border="1">
			<tr>
				<td>お名前</td>
				<td><input type="text" name="name" placeholder="名前" class="input"></td>
			</tr>
			<tr>
				<td>住所</td>
				<td><input type="text" name="address" placeholder="住所" class="input">
				</td>
			</tr>
			<tr>
				<td>電話番号</td>
				<td><input type="text" name="tel" placeholder="電話番号" class="input"></td>
			</tr>
			<tr>
				<td>e-mail</td>
				<td><input type="text" name="email" placeholder="e-mail" class="input">
				</td>
			</tr>
			<tr>
				<td>パスワード</td>
				<td><input type="text" name="pass" placeholder="password" class="input">
				</td>
			</tr>
		</table>
		<p>
		<input type="submit" value="変更" class="accountbtn">
		</p>
	</form>
	<hr>
	<span th:text="${message}" style="color: red"></span>
	<!-- 削除 -->
	<form action="/deleteAccount" method="post">
	<p>
		<input type="submit" value="削除" class="accountbtn">
		</p>
	</form>

</body>
</html>