<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品登録</title>
<link rel="stylesheet" href="/common.css">
</head>
<body>
	<div class="carttitle">
		<h1>出品</h1>
	</div>
	<form action="/addItem" method="post">
		<table class="cart" border="1">

			<tr>
				<td>商品名</td>
				<td><input type="text" name="name" placeholder="商品名" class="input"></td>
			</tr>
			<tr>
				<td>値段</td>
				<td><input type= "text" name="price" placeholder="値段" class="input" ></td>
			</tr>
			<tr>
				<td>在庫</td>
				<td><input type="text" name="stock" placeholder="在庫数" class="input" >
				</td>
			</tr>
			<tr>
				<td>配達日数</td>
				<td><input type="text" name="delivaryDays" placeholder="配達日数" class="input">
				</td>
			</tr>
			
			<tr>
				<td>写真</td>
				<td><input type="text" name="picture" placeholder="写真" class="input"></td>
			</tr>

		</table>
		<p>
		<input type="submit" value="登録" class="additembtn"> 
		</p>
		<span th:text="${message}" style="color: red"></span>

	</form>
	<form action="/showItem">
	
		<a href="/showItem" class="top">商品一覧戻る</a>
	</form>
</body>
</html>