<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品登録</title>
</head>
<body>
	<h1 style="color: red">出品</h1>
	<form action="/addItem" method="post">
		<table>

			<tr>
				<td>商品名</td>
				<td><input type="text" name="name" placeholder="商品名"></td>
			</tr>
			<tr>
				<td>値段</td>
				<td><input type="text" name="price" placeholder="値段"></td>
			</tr>
			<tr>
				<td>在庫</td>
				<td><input type="text" name="stock" placeholder="在庫数">
				</td>
			</tr>
			<tr>
				<td>配達日数</td>
				<td><input type="text" name="delivaryDays" placeholder="配達日数">
				</td>
			</tr>
			<tr>
				<td>カテゴリー</td>
				<td><input type="text" name="categoryKey" placeholder="カテゴリー">
				</td>
			</tr>
			<tr>
				<td>写真</td>
				<td><input type="text" name="picture" placeholder="写真"></td>
			</tr>

		</table>

		<input type="submit" value="登録"> <span th:text="${message}" style="color: red"></span>

	</form>
	<form action="/showItem">
		<a href="/showItem">商品一覧戻る</a>
	</form>
</body>
</html>