<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カートの中身</title>
<link rel="stylesheet" href="/common.css">
</head>
<body>
	<div class="carttitle">
	<h1>カートの中身</h1>
	</div>
	<table border="1" class="cart">

		<tr>


			<th>商品名</th>
			<th>値段</th>
			<th>個数</th>
			<th>合計</th>
			<th>削除</th>
		</tr>
		<tr>
		<tr th:each="item:${items}">
			<td th:text="${item.value.name}"></td>
			<td th:text="${item.value.price}"></td>
			<td th:text="${item.value.quantity}"></td>
			<td th:text="${item.value.quantity * item.value.price}"></td>
			<td>
				<form th:action="|/itemDetail/deleteCart/${item.value.code}|" method="post">
					<input type="submit" value="削除" class="cartbutton">
				</form>
			</td>

		</tr>
		<tr>
			<td align="right" colspan="5" th:text="'総計：'+${total}"></td>
		</tr>

	</table>

	<form action="/purchaseCart" method="post">
		<p>
			<input type="submit" value="購入する" class="btn-square">
		</p>
	</form>
	<div class="top">
		<a href="/showItem">商品詳細</a>
	</div>

</body>
</html>