<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
<link rel="stylesheet" href="/common.css">
</head>
<body>
<div id="top-menu">
<!-- 新規登録フォーム -->
<h1>新規登録</h1>
<form action="/newAccount" method="post">
		<!-- 入力 -->
		
		<input type="text" name="name" placeholder="名前" style="width:200px; height:20px;"  class="input"> 
		<br>
		<p>
		<input type="text" name="address" placeholder="住所" style="width:200px; height:20px;" class="input">
		<br>
		</p>
		<p>
		<input type="text" name="tel" placeholder="電話番号" style="width:200px; height:20px;" class="input">
		<br>
		</p>
		<p>
		<input type="text" name="email" placeholder="メールアドレス" style="width:200px; height:20px;"class="input" >
		<br>
		</p>
		<p>
		<input type="password" name="pass" placeholder="パスワード" style="width:200px; height:20px;" class="input">
		<br>
		</p>
		<p>
		<input type="submit" class="loginbutton" value="登録">
		</p>
		<span th:text="${message}" style="color:red"></span>
	</form>
	</div>
</body>
</html>