<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>

<link rel="stylesheet" href="/common.css" >
</head>
<!-- <body bgcolor=""> -->
	<body >
	<div class="showitem1">
	<h1 >商品一覧</h1>
	</div>
	<!--  アニメーション-->
	<div class="flowing">
	 
	 	<span class="flowing" th:text="|${session.accountInfo.name}さん、ようこそおもちくんの世界へ|"></span>	
	
	</div>
	<hr>
	<p>
	<a href="/accountInfo" style="font-size: 15pt ; color: #000000">ユーザー情報の閲覧</a>
	</p>
	<p>
	<a href="/addItem" style="font-size: 15pt ; color: #ff0000">出品はこちら</a>
	</p>
	
	<!--商品 一覧 -->
	<!--商品 一覧のcss -->
	<table class="itemview-1">
        <!-- このtrにeach属性をつけてあげてください -->
        <tr th:each="item:${items}">
            <td>
                <!-- 画像 srcは「th:src」でそれぞれのFileに即してあげてください -->
                <img th:src="|/${item.picture}|" />
            </td>

            <td >
           		
                <p class="showitem3" th:text="${item.name}">
                    <b >商品名</b>
                    &emsp;/在庫&nbsp;<span></span>
                </p>
                <p class="showitem4" th:text="|\ ${item.price}|">
                    <span></span>
                </p>
                <!-- 改行が必要なごとに、pタグでパーテーションを作成してください 
                <p>
                    商品説明とか
                </p>-->
                <p class="buttons">
                    <!-- 必要なボタンをこちらに配置してください -->
                    <a th:href="|/itemInfo/${item.code}|">
                        <button style="width:200px; height:50px">出品情報閲覧・変更</button>
                    </a>
                    
                    
                    <a th:href="|/itemDetail/${item.code}|">
                        <button style="width:200px; height:50px">商品詳細</button>
                       
                    </a>
                    </p>
                
            </td>
        </tr>
    </table>
	
	<!-- <table  border="1">
		<tr>

			<th>商品画像</th>
			<th>商品名</th>
			<th>値段</th>
			<th>出品情報閲覧・変更</th>
			<th>商品詳細</th>
			
		</tr>
		
		<tr th:each="item:${items}">
			<td>
				<img th:src="|/${item.picture}|">
			</td>
			<td th:text="${item.name}"></td>
			<td th:text="${item.price}"></td>
			<td><a th:href="|/itemInfo/${item.code}|">出品情報閲覧・変更</a></td>
			<td><a th:href="|/itemDetail/${item.code}|">商品詳細</a></td>
			</tr>

	</table> -->
	
	
</body>
</html>