<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>top</title>
<link rel="stylesheet" href="/common.css">

<style>
	
	.a{
		height: 700px;
	}
</style>
</head>
<body class="a">
	 <div class="title"> 
		 
		<h1 >おもちくんたちのステッカーショップ</h1>
		</div>
		
		<div class="top">
		<p>
		 <a href="/login" >ログイン</a>
		<!--</font> -->
		</p>
		<p >
			<a href="/newAccount" >新規登録</a>
		</p>
	</div>
		
	<!--  
	<h1 style="color: green">おもちくんとゆかいな仲間のステッカーショッピング</h1>
	<a href="/login">ログイン</a>
	<p>
		<a href="/newAccount">新規登録</a>
	</p>-->
</body>
</html>