<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>top</title>
<link rel="stylesheet" href="/common.css">
</head>
<body>
	<div id="top-menu">
		<h1 style="color: green">おもちくんとゆかいな仲間のステッカーショッピング</h1>
		 <a href="/login" style="font-size: 20pt ; color: #000000">ログイン</a>
		<p>
			<a href="/newAccount" style="font-size: 20pt ; color: #000000">新規登録</a>
		</p>
		</div>
	
           
       
		
	

	<!--  
	<h1 style="color: green">おもちくんとゆかいな仲間のステッカーショッピング</h1>
	<a href="/login">ログイン</a>
	<p>
		<a href="/newAccount">新規登録</a>
	</p>-->
</body>
</html>